* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background-color: #ECF8FB;
    transition: background-color 5s ease;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.main-content {
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    max-width: 480px;
    border-radius: 10px;
}

.form-header {
    background-color: #444;
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-size: 18px;
    line-height: 1.4;
    border-radius: 10px 10px 0 0px;
}

.form-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
}

input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border 0.3s;
}

.address-row {
    display: flex;
    gap: 10px
}

.button-container {
    display: flex;
    margin: 10px;
}

button:disabled {
    background-color: #f9a857;
    cursor: not-allowed;
}


.button-style {
    width: 100%;
    padding: 10px;
    border-radius: 40px;
    border: none;
    color: white;
    background-color: #F99834;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

.read-more {
    text-align: center;
    font-size: 14px;
}

.read-more a {
    color: #F99834;
    text-decoration: none;
}

.read-more a:hover {
    text-decoration: underline;
}

input:focus {
    border-color: #F99834;
}

input.error {
    border-color: #D50303;
}

@media (max-width: 767px) {
    .address-row {
        flex-direction: column;
    }
}

